.create {
    width: 100%;
    height: 100%;

    padding: 0;

    .create_container {
        width: 100%;
        height: 100%;

        padding: 1em;

        background-color: var(--background-secondary);

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1em;

        .fileWrapper {
            position: relative;

            width: 100%;
            flex-grow: 1;

            border-radius: 15px;
            background-color: var(--background-ternary);

            display: flex;
            align-items: center;
            justify-content: center;

            overflow: hidden;

            .overViewMedia {
                width: 100%;
                height: 100%;

                object-fit: contain;
                object-position: center;
            }

            .warning_text {
                font-size: 2em;
                font-weight: 600;
                color: var(--text-primary-50);
            }

            .toolbar {
                position: absolute;
                top: 0;
                right: 0;

                padding: 1em 1em 0 0;

                display: flex;
                flex-direction: column;
                gap: 1em;

                i {
                    width: 40px;
                    aspect-ratio: 1/1;

                    font-size: 2em;
                    border-radius: 8px;
                    color: var(--text-primary-70);
                    background-color: rgba(0, 0, 0, 0.2);

                    backdrop-filter: blur(10px);

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    cursor: pointer;
                }
            }

            .settings_container {
                position: absolute;

                width: 100%;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                backdrop-filter: blur(50px);

                z-index: 2;

                .settings_wrapper {
                    width: 50%;

                    padding: 2em;
                    border-radius: 20px;

                    background-color: var(--background-secondary);

                    display: flex;
                    flex-direction: column;

                    overflow: hidden;

                    .input {
                        padding: 0;
                    }

                    .setting_container {
                        padding: 0 0 0 0.5em;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h1 {
                            font-size: 1.5em;
                            font-weight: 400;
                            color: var(--text-primary-50);
                        }

                        &:first-of-type {
                            margin-top: 1.5em;
                        }
                    }

                    .button_wrapper {
                        margin-top: auto;
                        margin-top: 2em;
                        align-self: end;

                        .setting_button {
                            width: fit-content;

                            font-size: 1.5em;
                            font-weight: 600;

                            padding: 0.5em 1.5em;
                            border: none;
                            border-radius: 10px;
                            color: var(--text-primary-70);
                            background-color: var(--primary-color);
                        }

                        & > :first-child {
                            margin-right: 1em;
                            background-color: rgb(255, 50, 50);
                        }
                    }
                }
            }

            .filterPanel {
                position: absolute;
                left: 10px;
                top: 10px;

                width: 80px;
                height: 80%;
                padding: .5em;
                border-radius: 1em;
                background-color: var(--background-secondary);

                display: flex;
                align-items: center;
                flex-direction: column;

                overflow: scroll;
                gap: 0.5em;

                .filterItem {
                    position: relative;
                    width: 100%;
                    border-radius: 1em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    overflow: hidden;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    img {
                        width: 100%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        object-position: center;
                    }

                    .filterName {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);

                        padding: 0.2em 0.5em;
                        border-radius: 1em 1em 0 0;
                        font-size: 1.2em;
                        white-space: nowrap;
                        color: var(--text-primary-70);
                        mix-blend-mode: plus-lighter;
                        backdrop-filter: blur(10px);
                        box-shadow: 0px 0px 10px 0px var(--background-soft);
                    }

                    &.activeFilter {
                        box-shadow: 0px 0px 0px 2px var(--primary-color);
                    }

                    &.activeFilter .filterName {
                        color: var(--primary-color);
                    }

                    &:hover {

                        box-shadow: 0px 0px 0px 2px var(--secondary-color);
                    }
                }
            }

            .adjustmentPanel {
                position: absolute;
                bottom: 100px;
                left: 50%;
                transform: translateX(-50%);

                width: 90%;
                height: 200px;
                padding: 1em;
                box-shadow: 0px 0px 10px 0px var(--background-soft);
                border-radius: 2em;
                background-color: var(--background-ternary);

                display: flex;
                align-items: center;
                gap: 1em;

                overflow: scroll;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                z-index: 2;

                .adjustmentContainer {
                    width: 100%;
                    height: 100%;
                    min-width: 300px;

                    padding: 2em;
                    border-radius: 1.5em;
                    background-color: var(--background-secondary);

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 1.5em;

                    scroll-snap-align: center;

                    .adjustmentItem {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 1.5em;

                        label {
                            width: 100%;

                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            font-size: 1.5em;
                            font-weight: 600;
                            color: var(--text-primary-50);
                        }

                        input {
                            -webkit-appearance: none;
                            width: 100%;
                            height: 0px;
                            border-radius: 10px;
                            outline: none;

                            &::-webkit-slider-runnable-track {
                                height: 5px;
                                background: linear-gradient(to right, var(--background-secondary), var(--background-ternary));
                                border-radius: 3px;
                            }

                            &::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                height: 16px;
                                width: 16px;
                                background: var(--primary-color);
                                border: 1px solid var(--secondary-color);
                                border-radius: 50%;
                                cursor: pointer;
                                margin-top: -6px; /* To center it with track */
                            }
                        }
                    }
                }
            }

            .medias_container {
                position: absolute;
                bottom: 10px;

                height: 60px;

                padding: 0.6em;
                border-radius: 10px;

                background-color: var(--background-secondary);

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1em;

                .media_wrapper {
                    position: relative;

                    height: 100%;
                    aspect-ratio: 1/1;

                    border-radius: 6px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 4px;
                    }

                    i {
                        position: absolute;
                        right: 1px;
                        bottom: 1px;

                        font-size: 1em;

                        color: var(--primary-color);

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        mix-blend-mode: color-dodge;
                    }

                    span {
                        position: absolute;
                        right: -2px;
                        top: -2px;

                        font-size: 1em;
                        padding: 0.1em;
                        border-radius: 50%;

                        color: var(--text-primary-50);
                        background-color: var(--background-ternary);

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        cursor: pointer;
                    }
                }

                .addMedia, .nextButton {
                    height: 100%;
                    aspect-ratio: 1/1;

                    border: 1px solid var(--accent-border-color);
                    border-radius: 6px;
                    color: var(--text-primary-50);
                    background-color: var(--background-ternary);

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    cursor: pointer;
                }
            }
        }

        .buttonWrapper {
            position: relative;

            padding: 0 1.5em;
            border-radius: 10vw;

            background-color: var(--background-ternary);

            display: flex;
            align-items: center;
            justify-content: evenly;
            gap: 1em;

            span {
                width: 50px;
                height: 40px;

                font-size: 1.5em;
                font-weight: 600;

                color: var(--text-primary-50);

                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;
                z-index: 2;
            }

            .divider {
                position: absolute;

                width: 100px;
                height: 80%;

                border-radius: 10vw;

                background-color: var(--primary-color);
            }
        }
    }
}

@media (min-width: 485px) {
    .create {
        padding: 1.5em;

        .create_container {
            padding: 1.5em;
            border-radius: 20px;
            gap: 1.5em;

            .filterPanel {
                width: 100px;
                padding: 1em;
            }

            .fileWrapper {
                .adjustmentPanel {
                    width: 60%;
                    min-width: 420px;
                    max-width: 500px;

                    .adjustmentContainer {
                        min-width: 400px;
                    }
                }
            }
        }
    }
}
