.toolbar {
    position: absolute;
    right: 20px;
    bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    .tools_wrapper {
        padding: 0.8em;
        border-radius: 15px;
        background-color: var(--background-ternary);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;

        .toolbar_icon {
            width: 40px;
            height: 40px;

            font-size: 1em;
            border-radius: 10px;
            padding: 1em;

            display: flex;
            align-items: center;
            justify-content: center;

            color: var(--text-primary-50);
            background-color: var(--background-secondary);
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 760px) {
    .toolbar {
        right: unset;
        bottom: 10px;
        width: 95%;

        .tools_wrapper {
            padding: 0.5em;
            border-radius: 10px;

            .toolbar_icon {
                font-size: 0.8em;
            }
        }
    }
}
