.reels_wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}


@media (min-width: 485px) {
    .reels_wrapper {
        padding: 2em;
    }
}
