.floating_con {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(20px);
    
    background: repeating-linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.1) 0px,
            rgba(0, 0, 0, 0.1) 10px,
            transparent 10px,
            transparent 20px
        ),
        repeating-linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.1) 0px,
            rgba(0, 0, 0, 0.1) 10px,
            transparent 10px,
            transparent 20px
        );

    z-index: 10;
}