.settings {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .settings_section {
        width: 100%;
        height: 100%;

        overflow: scroll;

        padding: 2em;

        background-color: var(--background-secondary);

        .settings_heading {
            font-size: 2em;
            color: var(--text-primary-50);

            display: flex;
            align-items: center;
            gap: 0.5em;


            span {
                width: min-content;
                display: flex;
                align-items: center;
                gap: 0.3em;

                transition: all 1s;

                &:hover {
                    color: var(--primary-color);
                    cursor: pointer;
                }
            }
        }

        .settings_wrapper {
            width: 100%;
            height: min-content;

            margin-top: 2em;

            border-radius: 15px;
            border: 1px solid var(--accent-border-color);

            background-color: var(--background-ternary);

            display: flex;
            flex-direction: column;
            gap: 0.1em;

            overflow: hidden;

            .handGesture {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1em;
            }

            .settings_card_heading {
                width: 100%;
                height: 60px;

                padding: 1em;

                font-size: 1.5em;
                color: var(--text-primary-70);

                background-color: var(--background-secondary);

                display: flex;
                align-items: center;
                justify-content: space-between;

                transition: 0.5s;

                cursor: pointer;

                button {
                    padding: 0.5em 1em;
                    border-radius: 10px;
                    border: none;
                    color: var(--text-primary-50);
                    background-color: var(--background-primary);
                }

                &:hover {
                    background-color: var(--background-ternary);
                }

            }

            select {
                height: 35px;
                padding: 0 1em;
                border-radius: 10px;
                border: 2px solid var(--accent-border-color);
                color: var(--text-primary-50);
                background-color: var(--background-primary);
            }
        }
    }
}

.container {
    position: relative;

    width: 100%;
    height: min-content;

    padding: 1.5em;
    margin-top: 2em;
    border-radius: 15px;

    background-color: var(--background-primary);

    display: flex;
    flex-direction: column;

    h1 {
        font-size: 2em;
        color: var(--text-primary-50);
    }

    p {
        font-size: 1.2em;
        color: var(--text-primary-50);
    }

    section {
        margin-top: 1.5em;

        h2 {
            font-size: 1.5em;
            padding: 0.5em 1em;
            border-radius: 10px;
            color: var(--primary-color);
            background-color: var(--background-secondary);
        }

        p {
            font-size: 1.3em;
            margin-top: 1.5em;
            margin-left: 2em;
            color: var(--text-primary-70);
        }

        h3 {
            font-size: 1.5em;
            margin-top: 1em;
            margin-left: 1em;
            color: var(--secondary-color);
        }

        ul, ol {
            margin-top: 1em;
            margin-left: 2em;

            li {
                font-size: 1.2em;
                color: var(--text-primary-50);
                margin-left: 2em;

                strong {
                    color: var(--secondary-color);
                }
            }
        }

    }

    footer {
        margin-top: 2em;
    }
}

.account_item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2em;

    h1 {
        font-size: 1.5em;
        color: var(--text-primary-50);
        text-wrap: nowrap;
    }

    input {
        width: 100%;
        height: 40px;

        padding: 0 1em;
        border-radius: 10px;
        border: 2px solid var(--accent-border-color);
        color: var(--text-primary-50);
        background-color: var(--background-primary);
    }

    .profile_pic {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }

    button {
        width: 100px;
        height: 40px;

        border-radius: 10px;
        border: none;

        font-size: 1.2em;
        color: var(--text-primary-50);
        background-color: var(--background-ternary);
    }

    textarea {
        width: 100%;

        padding: 1em;
        border-radius: 10px;
        border: 2px solid var(--accent-border-color);
        color: var(--text-primary-50);
        background-color: var(--background-primary);
        resize: vertical;
    }

    select {
        width: 100%;
        height: 40px;

        padding: 0 1em;
        border-radius: 10px;
        border: 2px solid var(--accent-border-color);
        color: var(--text-primary-50);
        background-color: var(--background-primary);
    }

    .accountCreation {
        position: absolute;
        top: 10px;
        right: 10px;

        padding: 0.5em 1em;
        border-radius: 10px;
        color: var(--text-primary-50);
        background-color: var(--background-ternary);

        ul {
            list-style-type: none;

            li {
                font-size: 1.2em;

                strong {
                    color: var(--secondary-color);
                }
            }
        }
    }

    .accountButtons {
        position: sticky;
        bottom: 0;

        display: flex;
        justify-content: end;
        gap: 1em;
    }
}


.drawer {
    width: 100%;
    height: 100%;
    padding: 1.5em 2em;
    background-color: var(--background-secondary);

    display: flex;
    flex-direction: column;
    gap: 2em;

    overflow: hidden;

    .drawer_heading {
        font-size: 2em;
        color: var(--text-primary);
    }

    .drawer_outer {
        border-radius: 15px;
        border: 1px solid var(--accent-border-color);
        overflow-y: auto;

        .drawer_item {
            width: 100%;
            height: 60px;
            padding: 1em 2em;
            border-bottom: 1px solid var(--accent-border-color);

            display: flex;
            align-items: center;
            justify-content: space-between;

            transition: all 0.5s;

            .drawer_item_title {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1em;

                font-size: 1.5em;
                color: var(--text-primary-50);

                transition: all 0.5s;
            }

            &:first-child {
                border-radius: 15px 15px 0 0;
            }

            &:last-child {
                border-radius: 0 0 15px 15px;
            }

            &:hover {
                background-color: var(--background-ternary);
                cursor: pointer;

                .drawer_item_title {
                    color: var(--text-primary-70);
                    transform: scale(1.1);
                }
            }
        }
    }

    .alert_wrapper {
        position: relative;
        width: 100%;
        flex: 1;
        overflow-y: auto;
    }

    .drawer_info {
        position: relative;
        width: 100%;
    }
}


@media (min-width: 485px) {
    .settings {
        padding: 1.5em;

        .settings_section {
            border-radius: 15px;
        }
    }
}
