.lobby {
    width: 100%;
    height: 100%;
    padding: 0;
}

:global(.cs-main-container) {
    border: none;
    padding: 0.5em;
    background-color: var(--background-ternary);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
    font-size: 1.4rem;
}

:global(.cs-main-container.cs-main-container--responsive) {
    padding: 0.5em;
    background-color: var(--background-ternary);
    border: none;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
    font-size: 1.4rem;
}

:global(.cs-chat-container) {
    border-radius: 1em;
    background-color: var(--background-secondary);
    overflow: hidden;
}

:global(.cs-conversation-header) {
    border: none;
    // border-bottom: solid 1px var(--accent-border-color);
    border-radius: 1em 1em 0 0;
    background-color: var(--background-secondary);
}

:global(.cs-conversation-header__content .cs-conversation-header__user-name) {
    color: var(--text-primary);
    background-color: var(--background-secondary);
}

:global(.cs-conversation-header__content .cs-conversation-header__info) {
    color: var(--text-primary-50);
    font-size: 0.8em;
    background-color: var(--background-secondary);
}

:global(.cs-message-separator) {
    width: 80px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0.5em 0.8em;
    border-radius: 0.5em;
    font-size: 0.7em;
    color: var(--text-primary);
    background-color: var(--background-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

:global(.cs-message-list .cs-message-separator) {
    margin-top: 2em;
    margin-bottom: 2em;
    position: sticky;
    top: 10px;
}

:global(.cs-message-separator::before), :global(.cs-message-separator::after) {
    background-color: transparent;
}

:global(.cs-message-group__footer) {
    color: var(--text-primary-50);
    font-size: 0.6em;
    justify-content: end;
    margin: 0.2em 0 0 0;
}

:global(.cs-message-list) {
    background-color: var(--background-primary);
}

:global(.cs-message-group--incoming .cs-message-group__messages .cs-message:first-child .cs-message__content) {
    border-radius: 1em 1em 1em 0;
}

:global(.cs-message-group--incoming .cs-message-group__messages .cs-message:last-child .cs-message__content) {
    border-radius: 0 1em 1em 1em;
}

:global(.cs-message-group--outgoing .cs-message-group__messages .cs-message:first-child .cs-message__content) {
    border-radius: 1em 1em 0 1em;
}

:global(.cs-message-group--outgoing .cs-message-group__messages .cs-message:last-child .cs-message__content) {
    border-radius: 1em 0 1em 1em;
}

:global(.cs-message--outgoing) {
    justify-content: flex-start;
}

:global(.cs-message:not(:only-child)) {
    margin-top: 0.15em;
}

:global(.cs-message-group__header) {
    color: var(--text-primary-50);
    font-size: 0.6em;
    margin: 0 0 0.5em 0;
}

:global(.cs-message__image-content) {
    border-radius: 10px;
    overflow: hidden;
}

:global(.cs-message__custom-content) {
    width: 100%;
    max-width: 200px;
}

:global(.cs-message__custom-content img) {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1em;
}

:global(.cs-message__custom-content video) {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1em;
}

:global(.cs-message__custom-content p) {
    font-size: 1em;
    padding: 0.2em 0.5em;
    color: rgba(0,0,0,.87);
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
    font-weight: 400;
}

:global(.cs-message-list .cs-typing-indicator) {
    width: 100%;
    padding: 0.5em 1em;
    background-color: var(--background-ternary);
}

:global(.cs-chat-container .cs-message-input) {
    padding: 0.8em 0.5em;
    border: none;
    // border-top: 1px solid var(--accent-border-color);
    border-radius: 0 0 1em 1em;
    background-color: var(--background-secondary);
    display: flex;
    align-items: center;
}

:global(.cs-message-input__content-editor-wrapper) {
    height: 100%;
    background-color: var(--background-ternary);
}

:global(.cs-message-input__content-editor) {
    height: 100%;
    font-size: 1.3em;
    color: var(--text-primary);
    background-color: var(--background-ternary);
}

:global(.cs-message-input__content-editor[data-placeholder]:empty:before) {
    color: var(--text-primary-50);
    font-size: 0.8em;
}

:global(.cs-main-container>.cs-sidebar.cs-sidebar--right) {
    width: 100%;
    min-width: 300px;
    max-width: none;
    border: none;
    border-radius: 1em;
    padding: 1em;
    background-color: var(--background-secondary);
    flex-basis: auto;
}

:global(.scrollbar-container .ps ul) {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

:global(.cs-search) {
    height: 40px;
    margin-bottom: 1em;
    background-color: var(--background-ternary);
}

:global(.cs-search__input) {
    height: 100%;
    font-size: 1em;
    color: var(--text-primary);
    background-color: var(--background-ternary);

    &::placeholder {
        color: var(--text-primary-50);
    }
}

:global(.cs-conversation) {
    border-radius: 1em;
    background-color: var(--background-ternary);
    transition: all 0.3s ease-in-out;

    &:hover {
        border: 1px solid var(--accent-border-color);
        background-color: transparent;
    }
}

:global(.cs-conversation__name) {
    color: var(--text-primary);
}

:global(.cs-conversation__info) {
    color: var(--text-primary-50);
    font-size: 0.8em;
}

.no_chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--background-secondary);
    border-radius: 1.5em;

    img {
        // filter: drop-shadow(0px 0px 10px hsla(186, 100%, 69%, 0.5));
        filter: drop-shadow(0px 0px 10px rgba(0, 149, 246, 0.5));
    }
}

.attachments {
    position: sticky;
    bottom: 0;
    transform: translateX(-12px);
    width: fit-content;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    padding: 0.5em;
    background-color: var(--background-ternary);
    border-radius: 1em 1em 0 0;
    box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.3);

    .attachment_img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 1em;
    }

    .attachment_video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 1em;
    }
}


@media (min-width: 768px) {
    .lobby {
        padding: 1.5em;
    }

    :global(.cs-main-container.cs-main-container--responsive) {
        border-radius: 1em 0 0 1em;
    }

    :global(.cs-main-container) {
        border-radius: 1.5em;
    }

    :global(.cs-chat-container) {
        border-radius: 1em 0 0 1em;
    }

    :global(.cs-main-container>.cs-sidebar.cs-sidebar--right) {
        border-radius: 0 1em 1em 0;
        padding: 1em 0.5em 0.5em 1em;
        flex-basis: 25%;
        max-width: 400px;
    }

    :global(.cs-message__custom-content) {
        max-width: 280px;
    }

    .no_chat {
        border-radius: 1.5em 0 0 1.5em;
    }
}
